PORT=5002
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_SECRET_KEY=
STRIPE_SECRET_KEY=
FRONTEND_URL=http://localhost:5173
RESTAURANT_SERVICE=http://localhost:5001
INTERNAL_SERVICE_KEY=jdfienf12345@@@@##4$$$%%%jsadfjlajdf
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
PAYMENT_QUEUE=payment_event
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=